In [1]:
import pandas as pd
import joblib
from fydjob.Database import Database

In [2]:
from fydjob.utils import lemmatize_words, remove_stopwords, join_strings

In [3]:
db = Database()
df = db.to_frame()

df = joblib.load('output/indeed_proc/processed_data.joblib')

In [4]:
df.head()

,job_id,job_title,job_text,company,location,job_info,job_link,query_text,source,tag_language,reviews
0,1,Data Scientist / Matching Engineer (m/w/d),You are responsible for improvement of Taledo’...,Taledo,Berlin,Data Scientist / Matching Engineer (m/w/d)\nTa...,data engineer,scrape_json,None,en,None
1,2,Senior Software Engineer - Data Platform,We are looking for a Senior Software Engineer ...,Zalando SE,Berlin,Senior Software Engineer - Data Platform\nZala...,data engineer,scrape_json,None,en,None
2,3,Senior Data Engineer (m/w/t),"As a member of the Data Engineering Team, you ...",Quandoo GmbH,Berlin,Senior Data Engineer (m/w/t)\nQuandoo GmbH17 B...,data engineer,scrape_json,None,en,None
3,4,Data Engineer (w/m/d),We are digitty.io – an international start-up ...,digitty.io,Berlin,Data Engineer (w/m/d)\ndigitty.io - Berlin,data engineer,scrape_json,None,en,None
4,5,Data Engineer,We activate data for our clients by using stat...,Gemma Analytics,Berlin,Data Engineer\nGemma Analytics - Berlin,data engineer,scrape_json,None,en,None

In [7]:
df.query_text.value_counts()

kaggle_1       5297
scrape_json     625
Name: query_text, dtype: int64

In [5]:
df.shape

(5922, 11)

In [6]:
df['clean'] = df.job_text_tokenized.apply(join_strings).apply(lemmatize_words).apply(remove_stopwords)

AttributeError: 'DataFrame' object has no attribute 'job_text_tokenized'