In [1]:
import pandas as pd

df = pd.read_json("../raw_data/glassdoor_scraper_output/data_scientist_in_berlin_2020-09-03.json")

In [3]:
from transformers import pipeline, AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained("distilroberta-base")

#encoded_seq = tokenizer.encode(df["description"][0],max_length = 500,truncation=True)


#feature_extraction = pipeline("feature-extraction", model = "distilroberta-base", tokenizer = "distilroberta-base")

In [5]:
df["tokens"] = df["description"][0:10].apply(lambda x: tokenizer.encode(x,max_length = 500, truncation = True))

In [6]:
df

,position,company,description,url,tokens
0,Data Scientist (m/f/x),Deutsche Bank AG\n3.6\n★,Job Description:\n\n\nTG 8\n\nDetails of the r...,https://www.glassdoor.de/job-listing/data-scie...,"[0, 43128, 33425, 35, 50140, 50118, 37066, 290..."
1,Studentische Aushilfe (m/w/d) Data Science im ...,Federal Association of the AOK\n3.9\n★,Vielfältige Aufgaben warten auf Sie\nUnterstüt...,https://www.glassdoor.de/job-listing/studentis...,"[0, 43640, 24973, 1561, 7984, 7876, 83, 2951, ..."
2,Data Architect (m/w/d) - Energy Management,Viessmann Werke Berlin Gmbh\n4.0\n★,What gets you out of bed in the morning and ke...,https://www.glassdoor.de/job-listing/data-arch...,"[0, 2264, 1516, 47, 66, 9, 3267, 11, 5, 662, 8..."
3,Data Scientist Bioinformatics (m/f/d),Centogene AG\n2.2\n★,"Welcome at CENTOGENE!\n\nWe, CENTOGENE GmbH (""...",https://www.glassdoor.de/job-listing/data-scie...,"[0, 25194, 23, 23981, 10207, 33978, 328, 50118..."
4,Data Scientist,Marley Spoon\n4.0\n★,Marley Spoon is the new way to cook. We bring ...,https://www.glassdoor.de/job-listing/data-scie...,"[0, 10169, 607, 32534, 16, 5, 92, 169, 7, 7142..."
...,...,...,...,...,...
297,Senior Data Engineer (m/f/d),stenon GmbH,stenon is the world’s first real-time soil ana...,https://www.glassdoor.de/job-listing/senior-da...,NaN
298,Data Architect (m/w/d) - Energy Management,00 - Viessmann Group,What gets you out of bed in the morning and ke...,https://www.glassdoor.de/job-listing/data-arch...,NaN
299,Senior scientist (m/f/d),Permacon GmbH\n1.9\n★,We are hiring\n\nAt PERMACON you will find the...,https://www.glassdoor.de/job-listing/senior-sc...,NaN
300,Software Engineer for Algorithmic Data Products,Zalando\n3.5\n★,Department: Offprice Data Science\n\nReports t...,https://www.glassdoor.de/job-listing/software-...,NaN
301,Executive Principal Data Engineer,Zalando\n3.5\n★,Executive Principal Data Engineer - Digital Fo...,https://www.glassdoor.de/job-listing/executive...,NaN