In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from fydjob.NLPFrame import NLPFrame
df = NLPFrame().df

df.head(5)

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/alexanderherdt/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/alexanderherdt/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/alexanderherdt/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Loaded from /Users/alexanderherdt/code/mizzle-toe/find-your-dream-job/fydjob/output/nlp_frame.joblib

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/alexanderherdt/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/alexanderherdt/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/alexanderherdt/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Loaded from /Users/alexanderherdt/code/mizzle-toe/find-your-dream-job/fydjob/output/nlp_frame.joblib

,job_id,job_title,job_text,company,location,job_info,job_link,query_text,source,tag_language,reviews,job_info_tokenized,job_text_tokenized,job_text_tokenized_titlecase,job_title_tokenized,job_text_tokenized_processed
0,1,Data Scientist / Matching Engineer (m/w/d),You are responsible for improvement of Taledo’...,Taledo,Berlin,Data Scientist / Matching Engineer (m/w/d)\nTa...,NULL,data engineer,scrape_json,en,NULL,"[data, scientist, matching, engineer, mwd, tal...","[you, are, responsible, for, improvement, of, ...","[Data, Scientist, Matching, Engineer, mwd, Tal...","[data, scientist, matching, engineer, mwd]","[responsible, improvement, taledos, search, ma..."
1,2,Senior Software Engineer - Data Platform,We are looking for a Senior Software Engineer ...,Zalando SE,Berlin,Senior Software Engineer - Data Platform\nZala...,NULL,data engineer,scrape_json,en,NULL,"[senior, software, engineer, data, platform, z...","[we, are, looking, for, a, senior, software, e...","[Senior, Software, Engineer, Data, Platform, Z...","[senior, software, engineer, data, platform]","[looking, senior, software, engineer, extensiv..."
2,3,Senior Data Engineer (m/w/t),"As a member of the Data Engineering Team, you ...",Quandoo GmbH,Berlin,Senior Data Engineer (m/w/t)\nQuandoo GmbH17 B...,NULL,data engineer,scrape_json,en,NULL,"[senior, data, engineer, mwt, quandoo, gmbh, b...","[as, a, member, of, the, data, engineering, te...","[Senior, Data, Engineer, mwt, Quandoo, GmbH, B...","[senior, data, engineer, mwt]","[member, data, engineering, team, responsible,..."
3,4,Data Engineer (w/m/d),We are digitty.io – an international start-up ...,digitty.io,Berlin,Data Engineer (w/m/d)\ndigitty.io - Berlin,NULL,data engineer,scrape_json,en,NULL,"[data, engineer, wmd, digittyio, berlin]","[we, are, digittyio, an, international, startu...","[Data, Engineer, wmd, digittyio, Berlin]","[data, engineer, wmd]","[digittyio, international, startup, headquarte..."
4,5,Data Engineer,We activate data for our clients by using stat...,Gemma Analytics,Berlin,Data Engineer\nGemma Analytics - Berlin,NULL,data engineer,scrape_json,en,NULL,"[data, engineer, gemma, analytics, berlin]","[we, activate, data, for, our, clients, by, us...","[Data, Engineer, Gemma, Analytics, Berlin]","[data, engineer]","[activate, data, client, using, stateoftheart,..."

In [4]:
from fydjob.Word2VecPipeline import WordPipeline
from fydjob.utils import category_tagger

pipeline = WordPipeline()

In [4]:
df_json = df.to_json()

In [ ]:
df_json

In [13]:
#pipeline.build_vocab(text)
pipeline.train(text)

In [9]:
text = pipeline.text_field

In [26]:
skills = pipeline.most_similar_skills(["python"],n_recommendations= 10)

In [36]:
pipeline.most_similar_skills(["aws"],n_recommendations = 10)

['azure',
 'cloud',
 'redshift',
 'bigquery',
 'sagemaker',
 'gcp',
 'lambda',
 'docker',
 'airflow',
 'elasticsearch']